body {
    background-color: lightcyan;
}
h2 {
    margin-block-end: 0.2em;
    color: brown;
}
h3 {
    margin-block-start: 0.2em;
    margin-block-end: 7px;
    color: #077077;
}

.ft {
    background-color: blue;
    text-align: center;
    color: lightcyan;
}
